<div class="conversation-details">
  <%= link_to root_path do %>
    <i class="fa fa-arrow-left back-to-chats-main" aria-hidden="true"></i>
  <% end %>
  <div class="conversation-name">
  <% if conversation.try(:name) %>
    <%= conversation.name %>
  <% else %>
    <%= private_conv_recipient(conversation).name %>
  <% end %>
  </div>
</div> 
